<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Express Movies</title>
    <link rel="stylesheet" href="../public/style.css" />
  </head>
  <body>
    <!--permet d'importer un Partials-->
    <% include ./partials/header %>
    <h1>Express Movies : le site des cinéphiles</h1>
    <div>
      <p>
        Etes-vous plutôt films ou series ? Peu import, vous trouverez votre
        bonheur dans les deux cas.
      </p>
    </div>
    <!--permet d'importer un Partials-->
    <% include ./partials/footer %>
  </body>
</html>
